NEXT_PUBLIC_SUPABASE_URL=https://kmkprbnwcbavonfnyput.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_kRQwyAKfcqMP3Kx2ACltuw_uJ7jn6m_
NEXT_PUBLIC_SITE_URL=https://www.estercortezpropiedades.com.ar
